body {
  font-family: sans-serif;
}

header{
  margin: -8px -8px 0 -11px;
  background-color: dimgrey;
  text-align: center;
  height: 50px;
  padding: 25px;
  box-shadow: 2px 2px 2px black;
}

h1 {
  font-style: italic;
  text-shadow: 2px 5px 2px black;
  color: #ddd;
}

h2 {
  text-align: center;
}

h6 {
  text-align: center;
}

.navbar {
  width: 338px;
  margin: 10px auto;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}

.nav {
  width: auto;
  display: inline-block;

}

.nav a {
  text-decoration: none;
  color: black;
  margin:10px;
  padding-bottom: 15px;
}

.nav a:hover {
  color: orangered;
}

.nav a:active {
  color: orangered;
}

table {
  border-collapse: collapse;
  padding: 5px;
  width: auto;
  margin: auto;
}

table th, table td {
  border-bottom: 1px solid black;
  padding: 0 20px;
}

table th {
  height: 50px;
  width: 200px;
}

table td {
  height: 175px;
  text-align: center;
}

td img {
  padding: auto;
}

td input {
  border: none;
  width:40px;
  text-align: center;
}

.modalButton{
  text-align: center;
}

.gameInfoTop{
  height: auto;
}

.gameImage {
  display: inline-block;
  box-sizing: border-box;
}

div img {
  height: auto;
  width: 450px;
  padding:10px;
  border-right: 1px solid black;
}

.gameInfo {
  display: inline-block;
  padding:0 0 0 10px;
}
