<section>

  <h2>Search For New Games</h2>

  <form ng-submit="searchAPI(searchQuery)">

    <input type="text" placeholder="Game Titles Only" ng-model="searchQuery">

    <button>Search</button>

  </form>

  <table st-table="games" st-safe-src="boardgames">
    <thead>
    <tr>
      <th colspan="7"><input st-search="" placeholder="Search through results" type="text"/></th>
    </tr>
    <tr>
      <th>Image</th>
      <th st-sort="name" >Game</th>
      <th st-sort="minPlayers" >Min Players</th>
      <th st-sort="maxPlayers" >Max Players</th>
      <th st-sort="minPlaytime" >Min Time(hours)</th>
      <th st-sort="maxPlaytime" >Max Time(hours)</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
      <tr ng-if="boardgames.length == 0">
        <td colspan="7">Find yourself some games!</td>
      </tr>
    </tbody>
    <tbody ng-repeat="boardgame in games">
      <tr>
        <td><img ng-src={{boardgame.thumbnail}} ng-click="toggleInfo(boardgame)" /></td>
        <td>{{boardgame.name}}</td>
        <td>{{boardgame.minPlayers}}</td>
        <td>{{boardgame.maxPlayers}}</td>
        <td>{{boardgame.minPlaytime}}</td>
        <td>{{boardgame.maxPlaytime}}</td>
        <td>
          <button ng-click="addToCollection(boardgame)">Add to Collection</button>
          <button ng-click="addToWishList(boardgame)">Add to Wish List</button>
        </td>
      </tr>
    </tbody>
  </table>


</section>

<modal-dialog show='modal.info' width='800px' dialog-title={{modal.modalGame.name}}>
  <img ng-src="{{modal.modalGame.image}}"/>
  <p>Suggested Age: {{modal.modalGame.suggestedAge}}</p>
  <p>Year Published: {{modal.modalGame.yearPublished}}</p>
  <p>Designer(s):</p>
  <p ng-repeat="designer in modal.modalGame.designers">{{designer}}</p>
  <p>Categories:</p>
  <p ng-repeat="category in modal.modalGame.categories">{{category}}</p>
  <p>{{modal.modalGame.description}}</p>
</modal-dialog>

<modal-dialog show='modal.collection' width='310px' height='150px' dialog-title={{modal.modalGame.name.substring(0,20)}}>
  <p>Are you sure you wish to add this game to your collection?</p>
  <button ng-click='toCollection()'>Yes</button>
  <button ng-click='modal.collection = false'>No</button>
</modal-dialog>

<modal-dialog show='modal.wishlist' width='310px' height='150px' dialog-title={{modal.modalGame.name.substring(0,20)}}>
  <p>Are you sure you wish to add this game to your wish list?</p>
  <button ng-click='toWishList()'>Yes</button>
  <button ng-click='modal.wishlist = false'>No</button>
</modal-dialog>

<modal-dialog show='modal.duplicate' width='350px' height='100px' dialog-title={{modal.modalGame.name.substring(0,20)}}>
  <p>{{modal.duplicateText}}</p>
</modal-dialog>

<modal-dialog show='modal.added' width='310px' height='100px' dialog-title={{modal.modalGame.name.substring(0,20)}}>
  <p>{{modal.addedText}}</p>
</modal-dialog>

<modal-dialog show='modal.results' width='300px' height='75px'>
  <p>That query returned no results,</p>
  <p>please try again!</p>
</modal-dialog>
