<section ng-init="getWishlist()">

  <h2>Dashboard</h2>

  <table st-table="games" st-safe-src="boardgames">
    <thead>
    <tr>
      <th colspan="7"><input st-search="" placeholder="Search Wish List" type="text"/></th>
    </tr>
    <tr>
      <th>Image</th>
      <th st-sort="gamename" >Game</th>
      <th st-sort="minplayers" >Min Players</th>
      <th st-sort="maxplayers" >Max Players</th>
      <th st-sort="minplaytime" >Min Time(hours)</th>
      <th st-sort="maxplaytime" >Max Time(hours)</th>
      <th></th>
    </tr>
    </thead>
    <tbody ng-if="boardgames.length == 0">
      <tr>
        <td colspan="7">Find some games for your Wish List!</td>
      </tr>
    </tbody>
    <tbody ng-repeat="boardgame in games">
      <tr>
        <td><img ng-src={{boardgame.thumbnail}} ng-click="toggleInfo(boardgame)" /></td>
        <td>{{boardgame.gamename}}</td>
        <td>{{boardgame.minplayers}}</td>
        <td>{{boardgame.maxplayers}}</td>
        <td>{{boardgame.minplaytime}}</td>
        <td>{{boardgame.maxplaytime}}</td>
        <td>
          <button ng-click="addToCollection(boardgame)">Add to Collection</button>
          <button ng-click="deleteGame(boardgame.api_id)">Remove</button>
        </td>
      </tr>
    </tbody>
  </table>

</section>

<modal-dialog show='myData.modalShown' width='800px' dialog-title={{modalGame.gamename}}>
  <img ng-src="{{modalGame.image}}"/>
  <p>Year Published: {{modalGame.yearpublished}}</p>
  <p>Publisher(s):</p>
  <p ng-repeat="designer in modalGame.designers">{{designer}}</p>
  <p>Categories:</p>
  <p ng-repeat="category in modalGame.categories">{{category}}</p>
  <p>{{modalGame.description}}</p>
</modal-dialog>
